$main-black: #182B2E;
$base-white: #F9F9F9;
$text-gray: #1A1A1A;
$text-white: #fff;
$light-gray: #808080;
$display-default-height: 976px;
$display-default-width: 1200px;

@font-face {
  font-family: 'din-light';
  src: url(../fonts/din-light.ttf);
}

@font-face {
  font-family: 'din-medium';
  src: url(../fonts/din-medium.ttf);
}

@font-face {
  font-family: 'din-bold';
  src: url(../fonts/DINNextLTPro-Bold.otf);
}


* {
  padding: 0;
  margin: 0;

}

body {
  // font-family: 'din-light',

  // font-family: 'din-medium',

  // font-family: 'din-bold',
  font-family: 'Roboto', sans-serif;
  font-weight: 400;

}


section {
  min-width: $display-default-width;
}

#header {
  width: 100%;
  padding: 6px 0;
  position: absolute;
  z-index: 999;
}

#header h1 {
  float: left;
  color: #f9f9f9;
  margin-right: 48px;
}

nav {
  overflow: hidden;
  padding-left: 800px;

  li {
    list-style: none;
    float: left;
    margin-top: 2px;
  }

  a {
    font-size: 24px;
    display: block;
    text-decoration: none;
    color: $text-white;
    margin: 10px;
    transition: 0.1s;
    font-weight: 700;

    &:hover {
      border-bottom: 3px solid $text-white;
    }
  }
}

.container {
  width: 1200px;
  margin: 0 auto;
  position: relative;
}

#home {
  height: 1000px;
  text-align: center;
  background-color: #fff;
  min-width: $display-default-width;
  color: $text-white;
  position: relative;

  .viewer {
    width: 100%;
    height: 100%;
    margin: 0 auto;
    text-align: left;
    overflow: hidden;
    position: absolute;

    ul {
      text-align: left;
      overflow: hidden;
      position: relative;
      width: 100%;
      height: 100%;

      li {
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        display: none;
        position: absolute;
        overflow: hidden;

        img {
          position: absolute;
          top: 100%;
          left: 50%;
          -webkit-transform: translate(-50%, -50%);
          -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -100%);
          object-fit: cover;
        }
      }
    }

  }

  .title-container {
    position: absolute;
    z-index: 900;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);

    h1 {
      font-size: 105px;
      letter-spacing: 3px;
    }

    h2 {
      font-size: 45px;
      font-weight: 400;
    }

  }


}


.title {
  font-size: 48px;
  text-align: center;
  margin-bottom: 75px;
  font-weight: 700;
}

#about {
  margin: 0 auto;
  overflow: hidden;
  padding: 70px 0 150px;

  h2 {
    color: $main-black;
  }

  h3 {
    color: $text-gray;
    font-size: 26px;
  }

  .about-container {
    width: 1200px;
    margin: 0 auto;
    position: relative;
  }

  .about-item {
    width: 340px;
    height: 440px;
    margin: 0 30px;
    border-radius: 8px;
    box-shadow: 0 0px 20px rgba(0, 0, 0, 0.2);
    float: left;
    overflow: hidden;
  }

  .about-image {
    width: 100%;
    height: 220px;
    object-fit: cover;

  }

  .about-text-box {
    height: 50%;
    padding: 26px 28px;

    h3 {
      margin-bottom: 10px;
    }

    p {
      color: $light-gray;
      font-size: 19px;
      line-height: 1.6em;
      font-weight: 300;
    }
  }

}

#story {
  width: 100%;
  height: $display-default-height;

  .left-box {
    width: 50%;
    height: 100%;
    background: url(../images/mind.jpg) 0 50% no-repeat;
    float: left;
    background-size: cover;

  }

  .right-box {
    width: 50%;
    height: 100%;
    background-color: $main-black;
    overflow: hidden;
    color: $text-white;

    .inner-box {
      width: 450px;
      margin-left: 150px;
      margin-top: 200px;
      ;
    }

    h2 {
      font-size: 44px;
      margin-bottom: 10px;
    }

    p {
      font-size: 22px;
      font-weight: 300;
      line-height: 44px;
    }


  }

}

#access {

  margin: 0 auto;
  padding: 70px 0 60px;

  h2 {
    color: $main-black;
  }

  h3 {
    color: $text-gray;
    font-size: 26px;
  }

  .access-container {
    width: 1200px;
    margin: 0 auto;
    position: relative;
    overflow: hidden;

    border-radius: 8px;
    box-shadow: 0 0px 20px rgba(0, 0, 0, 0.2);

    .access-left-box {
      float: left;
    }

    .access-right-box {

      width: 50%;
      height: 100%;
      color: $text-white;
      overflow: hidden;

      .access-inner-box {
        width: 450px;
        margin-left: 80px;
        margin-top: 66px;
      }


      h4 {
        float: left;
        color: $text-gray;
        font-size: 30px;
        width: 35%;
      }

      .access-inner-right-box {
        width: 65%;
        overflow: hidden;

        .inner-left-box {
          width: 35%;

        }

      }

      p {
        font-size: 21px;
        font-weight: 300;
        line-height: 41px;
        color: $light-gray;
        float: left;

      }

    }


  }

  .reservation-button {
    display: block;
    width: 86px;
    margin: 0 auto;
    font-size: 16px;
    font-weight: 500;
    padding: 8px 32px;
    margin-top: 40px;
    background: $main-black;
    color: $text-white;
    border: 1px solid $main-black;
    border-radius: 5px;
    text-decoration: none;
    transition: 0.5s;


    &:hover {
      background: $text-white;
      color: $main-black;
    }
  }

}

footer {
  text-align: center;
  color: #ffffff;
  background: $main-black;
  padding: 10px 0;
}


.fade-in-animation {
  -webkit-animation-fill-mode: both;
  -ms-animation-fill-mode: both;
  animation-fill-mode: both;
  -webkit-animation-duration: 1.5s;
  -ms-animation-duration: 1.5s;
  animation-duration: 1.5s;
  -webkit-animation-name: fade-in-animation;
  -ms-animation-name: fade-in-animation;
  animation-name: fade-in-animation;
  visibility: visible !important;
}

@-webkit-keyframes fade-in-animation {
  0% {
    opacity: 0;
    -webkit-transform: translateY(-20px);
  }

  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
  }
}

@keyframes fade-in-animation {
  0% {
    opacity: 0;
    -webkit-transform: translateY(-20px);
    -ms-transform: translateY(-20px);
    transform: translateY(-20px);
  }

  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
    -ms-transform: translateY(0);
    transform: translateY(0);
  }
}